.rescue_kit_service {
  .service-card {
    background: $bg-light-gray;
    padding: $padding-small;
    border-radius: $border-radius-large;
    font-size: $font-size-small;
    text-align: center;
    box-shadow: $shadow-light;
  }

  .about {
    text-align: center;
    padding: $padding-large $padding-small $padding-small;
    max-width: $container-small-width;
    margin: 0 auto;
  }

  .about-text h2 {
    @include heading-tertiary;
    margin-bottom: $padding-small;
  }

  .about-text p {
    font-size: $font-size-regular;
    color: $text-primary;
  }

  .how-it-works {
    @include section-centered;
    padding: $padding-large $padding-small;
    background-color: $bg-white;
  }
}
