<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DS91BPQ010"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DS91BPQ010");
    </script>
    <!-- END Google Analytics code -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/assets/css/main.css'>
  </head>

  <body>

  <header>
    <a href="/"><img src="assets/images/logo.png" alt="Rails Fever Logo"></a>
    <nav>
      <a href="#services">Services</a>
      <a href="#about">About</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#contact">Contact</a>
    </nav>
    <div class="menu-toggle" onclick="document.querySelector('nav').classList.toggle('active')">
      ☰
    </div>
  </header>

  {{ content }}

  <footer>
    &copy; 2025 Rails Fever — <a href="https://www.linkedin.com/in/fullstackwebdeveloper/">LinkedIn</a>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const nav = document.querySelector("nav");
      const links = nav.querySelectorAll("a");

      links.forEach(link => {
        link.addEventListener("click", () => {
          nav.classList.remove("active");
        });
      });
    });
  </script>

  </body>
</html>
